nav{
  display: flex;
  align-items: center;
}

nav img{
  width: 75.97px;
  height: 31px;
  display: inline;
}

nav ul{
  color: #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

nav li{
  display: inline;
}